.about-page {
  max-width: 100%;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  
}
/* 모든 브라우저에서 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}
